{% extends 'base.html' %}
{% block start %}
  <h1>Hii this is login page</h1>

  {% for message in messages %}
    <div class="alert alert-success" role="alert">{{ message }}</div>
    <br />
    <br />
  {% endfor %}

  <form method="post" enctype="multipart/form-data" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">Username</label>
      <input type="text" name="username" placeholder="username" />
    </div>
    <br />
    <br />
    <div class="mb-3">
      <label for="formGroupExampleInput2" class="form-label">Password</label>
      <input type="password" name="password" placeholder="Password" />
    </div>
    <div class="mb-3">
      <button type="submit">Submit</button>
    </div>
  </form>
  <br />
  <br />

  <a href="{% url 'register' %}">register</a>
{% endblock %}
